{% extends "cactus/layout.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text" style="background-color: #212529;">
        
    <h1 class="c2">หนามจันท์แคคตัส</h1>
    <p>by kapom</p>
</div>

<div class="container">
    {% for cactus in cacti %}
       
            
            <div class="col-12">

                <div class="col-3 float-left">
                    <a href = "/static/images/cacti/{{cactus.photo}}"> <img src="/static/images/cacti/{{cactus.photo}}" width="300" height="350"/></a>
                <!-- <img src="/static/images/cacti/{{cactus.photo}}" width="400" height="450"/>  -->
                </div>

                <div class="col-9 float-right">
                    <h1 class="c2">{{cactus.description}}</h1>
                    <p>........</p>
                </div>

            </div>

          
    {% endfor %}


    <div class="clearfix"></div>

    <br><br><br><br><br><br>

    <div class = "text-center">
        <p>More like this</p>
    </div>

    <div class="row">
        {% for cactus in cacti_list %}

            <div class="col-2"> 
                <a href = "/cactus/cacti_detail/{{cactus.id}}/"> <img src="/static/images/cacti/{{cactus.photo}}" width="150" height="175"/></a>
            
                <p>{{cactus.description}}</p>
            </div>



            <!-- {% if cactus.id != cactus_id %}
    
                <div class="col-2"> 
                    <a href = "/cactus/cacti_detail/{{cactus.id}}/"> <img src="/static/images/cacti/{{cactus.photo}}" width="150" height="175"/></a>
                    
                    <p>{{cactus.description}}</p>
                </div>

            {% endif %} -->

        {% endfor %}
    </div>



</div>

<!-- <div class="container">
    <div class="row">


    {% if cacti.id != cactus.id %}
        <div class="col-sm-3">            
            <img src="/static/images/cacti/{{cactus.photo}}" width="200" height="200"/>
            <h3><a href="/species/{{ species.id }}/">{{ species.name }}</a></h3>
            <p>{{cactus.description}}</p>
        </div>

    {% endif %}
        
    {% for cactus.id in cacti.id %}
      <div class="col-sm-3">            
        <img src="/static/images/cacti/{{cactus.photo}}" width="200" height="200"/>
        <h3><a href="/species/{{ species.id }}/">{{ species.name }}</a></h3>
        <p>{{cactus.description}}</p>
      </div>
    {% endfor %}

    </div>
</div> -->


    




{% endblock %}