{% extends "cactus/layout.html" %}
{% load static %}

{% block content %}   

<div class="container">
    <div class="row">
        <h2 class="c2 p-0">Cactus สาระน่ารู้</h2>
    </div>
    
    <div class="row">
    <!-- Jumbotron -->
        <div class="p-4 rounded-3" style="background-color:#659dbd;">
            <h2 class="c6">Cactus คืออะไร</h2>
            <img src="/static/images/cactus_image.jpg"  width="300" height="250" />


            <div class="my-4 c3">
                <p>
                    <b>แคคตัส(cactus) หรือ กระบอกเพชร</b> เป็นพืชชนิดหนึ่งที่อยู่ในทะเลทราย สามารถยืนต้นอยู่ได้แม้อยู่ในทะเลทรายที่แห้งแล้งกันดาร โดยไม่ตาย
                    เพราะนานๆ ครั้งจะมีฝนตกจำนวนมาก โดยต้นกระบอกเพชรจะเก็บน้ำไว้ในลำต้นเป็นจำนวนมาก และใช้น้ำตลอดตลอดระยะเวลาแห้งแล้งที่ยาวนาน
                    และจะเปลี่ยนใบเป็นหนามเพื่อลดการคายน้ำแต่คงยังคายร้ำอยู่ ดังนั้นจึงสามารถอยู่ในทะเลทรายได้
                </p>

                <p>
                    สำหรับใครที่ยังไม่รู้จักวิธีการดูแลรักษาที่ถูกต้อง เรามีเคล็ดลับการปลูกแคคตัสสำหรับมือใหม่ "มาฝากกัน!!!"
                </p>
            </div>

            <img src="/static/images/cactus_image.jpg"  width="300" height="250" />

            <div class="my-4 ">
                <h3>1.ให้น้ำอย่างระวัง</h3>
                <p>
                   การให้น้ำแคคตัสไม่ควรฉีดน้ำไปที่ต้นโดยตรง เพราะจะทำให้ใบของมันเป็นรอยไม่น่าดู ถ้าปลูกในกระถางให้วางภาชนะปลูกไว้ในอ่างน้ำตื้นๆ 
                   จนกระทั่งดินที่ปลูกชุ่มน้ำ จากนั้นจึงยกออกจากอ่างและทิ้งไว้ให้น้ำไหลออกจนหมด อันตรายที่สุดสำหรับแคคตัสคือ 
                   ได้น้ำมากเกินไป เพราะอาจทำให้รากเน่าตายได้ ควรให้น้ำ3 วัน/ครั้ง ในฤดูร้อนและ 7 วัน/ครั้ง ในฤดูหนาว
                </p>
            </div>

            <img src="/static/images/cactus_image.jpg"  width="300" height="250" />

            <div class="my-4 ">
                <h3>2.เลือกกระถางให้เหมาะสม</h3>

                <p>
                    เลือกกระถางที่ใหญ่พอมีที่ว่างให้รากขยายออกไปได้ เส้นผ่าศูนย์กลางกระถางควรเท่ากับขนาดของต้นไม้รวมหนามด้วย 
                    ถ้าเป็นแคคตัสทรงสูงให้ขนาดเส้นผ่านศูนย์กลางกระถางเท่ากับครึ่งหนึ่งของความสูง ต้นไม่ควรใช้กระถางที่ใหญ่เกินไป
                </p>

            </div>

            <img src="/static/images/cactus_image.jpg"  width="300" height="250" />

            <div class="my-4 ">
                <h3>3.การใส่ปุ๋ย</h3>

                <p>
                    การใส่ปุ๋ยก็เป็นเหมือนการให้อาหาร ส่วนมากจะใช้ปุ๋ยวิทยาศาตร์ เพราะสามารถหาสูตรที่ปรับให้เหมาะกับสายพันธุ์กระบองเพชรได้ 
                    แต่ต้องระวังอย่างมากอย่าใส่ปุ๋ยกระบองเพชรเยอะหรือใช้ปุ๋ยที่มีความเข้มข้นมากเกินไป ใครเน้นวิธีเลี้ยงแคคตัสให้ออกดอก ควรเลือกปุ๋ยที่ช่วยเรื่องการออกดอก
                </p>

            </div>

            <img src="/static/images/cactus_image.jpg"  width="300" height="250" />

            <div class="my-4 ">
                <h3>4.แสงแดด</h3>

                <p>
                    วิธีเลี้ยงแคคตัสให้ออกดอกได้ดั่งใจนั้น แสงแดดมีความจำเป็นเป็นอย่างมาก ซึ่งแคคตัสชอบแดดที่ไม่แรงมาก เพราะหากได้รับแสงแดดมากเกินไปจะทำให้เกิดรอยไหม้ 
                    ควรเลือกวางแคคตัสในที่ที่มีแสงรำไร ให้แดดส่องถึงประมาณ 70% ประมาณ 4-6 ชั่วโมงต่อวัน และเมื่อแคคตัสได้รับแสงแดดเพียงพอ 
                    ก็จะออกดอกสวย ๆ มาให้เราเชยชมได้แล้ว 
                </p>
            </div>

            <p>
                เมื่อรู้วิธีเลี้ยงกระบองเพชร ต้นเล็กกันไปแล้ว ต่อจากนี้คือหาสายพันธุ์แคคตัสที่คุณชอบแล้วมาปลูกกันเล้ยยย 
            </p>

           <!--  <button type="button" class="btn btn-primary">
                Learn more
            </button> -->
        </div>
    </div>
  <!-- Jumbotron -->

    <!-- <div class="row">
        <h2 class="c2 p-0">Cactus สาระน่ารู้</h2>
    </div>
    
    <div class="row">

        <div class="jumbotron">
            <img src="/static/images/cactus_image.jpg"  width="300" height="250" />
            <h1 class="p-4 shadow-4 rounded-3">Hello, world!</h1>
            <img src="/static/images/cactus_image.jpg"  width="300" height="250" />
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div> -->

        <!--
        <div class="jumbotron text-center" style="background-color: #d2d4d6;">
            <img src="/static/images/cactus_image.jpg" width="300" height="250" />
            <p class="c2">cactus</p>
        </div>


        <div class="row bg-light">
            <p class="text-dark">
                แคคตัส เป็นพืชอวบน้ำ (succulent)  ซึ่งเป็นลักษณะที่สำคัญของพืช ในบริเวณที่มีความแห้งแล้งกันดาร จึงมีการสะสมน้ำไว้ในส่วนแคคตัส เป็นพืชอวบน้ำ (succulent)  ซึ่งเป็นลักษณะที่สำคัญของพืช ในบริเวณที่มีความแห้งแล้งกันดาร จึงมีการสะสมน้ำไว้ในส่วนของต้น ราก และใบ แคคตัสจัดอยู่ในกลุ่มพืชใบเลี้ยงคู่ ซึ่งยังไม่มีการขุดค้นพบซากฟอสซิล (fossil) โบราณ ของแคคตัสมาก่อนเลย แต่เชื่อว่ามีวิวัฒนาการมาตั้งแต่ยุคโบราณ Moseic และในช่วงต้นยุค Teriaryหรือประมาณ 20,000 ปีที่ผ่านมา
    
                ยังไม่มีบันทึกที่ชัดเจนว่า แคคตัส มีความเกี่ยวข้องกับมนุษย์ตั้งแต่เมื่อไร แต่มีการค้นพบบันทึกหลักฐานเก่าแก่ เกี่ยวกับ
                แคคตัสที่สำคัญ ซึ่งถูกบันทึกในปี ค.ศ. 1325 โดยชนชาว Aztecs ในประเทศเม็กซิโก ใช้แคคตัสชนิดหนึ่ง คือเสมา (Opuntia)
                เป็นสัญลักษณ์แห่งการรวมเผ่าพันธุ์ชาว Aztecs และแทนการก่อตั้งเมืองเม็กซิโกซิตี้ โดยใช้สัญลักษณ์ เป็นรูปนกอินทรีย์เกาะอยู่บนต้นเสมา ซึ่งงอกอยู่บนหินผา
                
                แคคตัสมีการค้นพบครั้งแรกโดย คริสโตเฟอร์ โคลัมบัส ในช่วงปลาย ค.ศ.ที่ 15 โดยโคลัมบัส ได้เดินทางถึง
                หมู่เกาะ West Indies และได้ค้นพบแคคตัสในสกุล Opuntia และ Melocactus เป็นครั้งแรก
                
                ในระหว่างเดินทางกลับ โคลัมบัสได้นำแคคตัสกลับมายังยุโรปด้วย เมื่อกลับมาถึงยุโรป เขาได้นำแคคตัสขึ้นถวายแด่สมเด็จพระราชินีอลิซาเบลลา แห่งประเทศสเปน หลังจากนั้นในช่วงต้น ค.ศ.ที่ 17 คณะมิชชันนารีชาวสเปน ได้ออกเผยแพร่ศาสนาคริสต์ในประเทศแถบอเมริกากลาง และอเมริกาใต้ตอนบน และได้มีการค้นพบพันธุ์ไม้แปลก ๆ หลายชนิดรวมทั้งแคคตัส โดยได้ส่งพืชเหล่านั้นบรรทุกเรือสินค้า กลับมายังยุโรป และเก็บรวบรวมไว้ในสวนพฤกษศาสตร์ สวนพฤกษศาสตร์ที่สำคญในสมัยนั้นได้แก่ Hortus Medicus Gardens ประเทศฮอลแลนด์ และ Royal Botanic Gardens, Kew ประเทศอังกฤษ จากนั้นก็ได้มีการค้นพบ
                แคคตัสพันธุ์ใหม่ๆ อีกมากมาย และได้มีการส่งกลับเข้ามาเผยแพร่ยังทวีปยุโรป            
            </p>
        </div>
        -->
    </div>


</div>

{% endblock %}