{% extends "cactus/layout.html" %}
{% load static %}

{% block content %}   

<div class="container">
    <div class="row">
        <h2 class="c2 p-0">Cactus สาระน่ารู้</h2>
    </div>
    
    <div class="row">

        <div class="jumbotron">
            <img src="/static/images/cactus_image.jpg" width="300" height="250" />
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>

        <!--
        <div class="jumbotron text-center" style="background-color: #d2d4d6;">
            <img src="/static/images/cactus_image.jpg" width="300" height="250" />
            <p class="c2">cactus</p>
        </div>


        <div class="row bg-light">
            <p class="text-dark">
                แคคตัส เป็นพืชอวบน้ำ (succulent)  ซึ่งเป็นลักษณะที่สำคัญของพืช ในบริเวณที่มีความแห้งแล้งกันดาร จึงมีการสะสมน้ำไว้ในส่วนแคคตัส เป็นพืชอวบน้ำ (succulent)  ซึ่งเป็นลักษณะที่สำคัญของพืช ในบริเวณที่มีความแห้งแล้งกันดาร จึงมีการสะสมน้ำไว้ในส่วนของต้น ราก และใบ แคคตัสจัดอยู่ในกลุ่มพืชใบเลี้ยงคู่ ซึ่งยังไม่มีการขุดค้นพบซากฟอสซิล (fossil) โบราณ ของแคคตัสมาก่อนเลย แต่เชื่อว่ามีวิวัฒนาการมาตั้งแต่ยุคโบราณ Moseic และในช่วงต้นยุค Teriaryหรือประมาณ 20,000 ปีที่ผ่านมา
    
                ยังไม่มีบันทึกที่ชัดเจนว่า แคคตัส มีความเกี่ยวข้องกับมนุษย์ตั้งแต่เมื่อไร แต่มีการค้นพบบันทึกหลักฐานเก่าแก่ เกี่ยวกับ
                แคคตัสที่สำคัญ ซึ่งถูกบันทึกในปี ค.ศ. 1325 โดยชนชาว Aztecs ในประเทศเม็กซิโก ใช้แคคตัสชนิดหนึ่ง คือเสมา (Opuntia)
                เป็นสัญลักษณ์แห่งการรวมเผ่าพันธุ์ชาว Aztecs และแทนการก่อตั้งเมืองเม็กซิโกซิตี้ โดยใช้สัญลักษณ์ เป็นรูปนกอินทรีย์เกาะอยู่บนต้นเสมา ซึ่งงอกอยู่บนหินผา
                
                แคคตัสมีการค้นพบครั้งแรกโดย คริสโตเฟอร์ โคลัมบัส ในช่วงปลาย ค.ศ.ที่ 15 โดยโคลัมบัส ได้เดินทางถึง
                หมู่เกาะ West Indies และได้ค้นพบแคคตัสในสกุล Opuntia และ Melocactus เป็นครั้งแรก
                
                ในระหว่างเดินทางกลับ โคลัมบัสได้นำแคคตัสกลับมายังยุโรปด้วย เมื่อกลับมาถึงยุโรป เขาได้นำแคคตัสขึ้นถวายแด่สมเด็จพระราชินีอลิซาเบลลา แห่งประเทศสเปน หลังจากนั้นในช่วงต้น ค.ศ.ที่ 17 คณะมิชชันนารีชาวสเปน ได้ออกเผยแพร่ศาสนาคริสต์ในประเทศแถบอเมริกากลาง และอเมริกาใต้ตอนบน และได้มีการค้นพบพันธุ์ไม้แปลก ๆ หลายชนิดรวมทั้งแคคตัส โดยได้ส่งพืชเหล่านั้นบรรทุกเรือสินค้า กลับมายังยุโรป และเก็บรวบรวมไว้ในสวนพฤกษศาสตร์ สวนพฤกษศาสตร์ที่สำคญในสมัยนั้นได้แก่ Hortus Medicus Gardens ประเทศฮอลแลนด์ และ Royal Botanic Gardens, Kew ประเทศอังกฤษ จากนั้นก็ได้มีการค้นพบ
                แคคตัสพันธุ์ใหม่ๆ อีกมากมาย และได้มีการส่งกลับเข้ามาเผยแพร่ยังทวีปยุโรป            
            </p>
        </div>
        -->
    </div>


</div>

{% endblock %}