{% extends "cactus/layout.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text pt-0 pl-3 pb-0" style="background-color: #212529;">        
    <h1 class="c2">หนามจันท์แคคตัส</h1>
    <p class="p-white">by kapom</p>
</div>



<div class="container">

    {% for cactus in cacti %}
       
            
            <div class="row">

                <div class="col-lg-3 float-left">
                    <a href = "/static/images/cacti/{{cactus.photo}}"> <img src="/static/images/cacti/{{cactus.photo}}" class="rounded mx-auto d-block" width="300" height="350"/></a>                
                </div>

                <div class="col-lg-9 float-right">
                    <h1 class="c2">{{cactus.name}}</h1>
                    <p class="p-white">{{cactus.description}}</p>
                </div>

            </div>

          
    {% endfor %}


    <div class="clearfix"></div>

    <br><br>


    <div class="row">
        <p class="p-white">More like this</p>
        {% for cactus in cacti_list %}

            <div class="col-2"> 
                <a href = "/cactus/cacti_detail/{{cactus.id}}/"> <img src="/static/images/cacti/{{cactus.photo}}" class="rounded mx-auto d-block" width="200" height="250" /></a>
            
                <!-- <p>{{cactus.description}}</p> -->
            </div>

        {% endfor %}
    </div>

</div>


{% endblock %}