h1 {
    color:rgb(22, 140, 187);
}


/* li a {
    color: #ffffff;
} */


.p-white {
    color: #fff;
}

body {
    background-color: #212529;
}


/*
h4 {
    color:rgb(187, 22, 179);
}
*/



.row.d-flex {
    height: 100vw;
    max-height: calc(100vh * 2);
}

@media (min-width: 600px) {
    .pb-3 {
        flex: initial;
        display: block;
        
    }
}

@media (min-width: 600px) and (max-width: 730px) {
    .row.d-flex {
        max-height: 1200px;
        height: 1200px;
    }
}


@media (min-width: 731px) and (max-width: 1200px) {
    .row.d-flex {
        max-height: 1200px;
    }
}


/*Custom style 1*/
.c1 {
    color: #61892f;
    text-decoration: none;
}
.c1:hover {
    color: #86c232;
    text-decoration: none;
}

.c2 {
    color: #86c232;
}
.c3  {
    color: #222629;
}
.c4 {
    color: #474b4f;
}
.c5 {
    color: #6b6e70;
}

